/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	background-image: url('/img/food.png');
}

.social{
	position: fixed;
	top: 0;
	height: 75px;
	/*border:1px solid blue;*/
	right: 0;
	z-index: 10;
}

.facebook { 
	width: 100px; 
	margin: 10px;
	float: left;
}

.twitter{
	width: 100px; 
	margin: 10px;
	float: left;
}

.holder{
  margin:0 auto;
}

.post{
	width: 400px;
	margin-bottom: 10px;
}

.post img{
	max-width: 100%;
	min-width: 100%;
	max-height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.post video{
	max-width: 100%;
	min-width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}















